
* {
  margin: 0;
  box-sizing: border-box;

}
.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.4s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  
}

.card:hover {
  box-shadow: 0 5px 20px rgba(1, 45, 128, 0.5);
}

.card small {
  color: #303030;
}
.card p {
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 1.6;
  font-size: 15px;
}

.card img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 20px;
}
header {
  margin: 0 50px 0px;
  text-align: center;
}
header h1 {
  padding: 30px 20px 20px;
  font-size: 24px;
}

.cards-view {
  margin: 0 10px 0px;
}
.cards-display {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 30px;
  width: 100%;
}

@media (min-width: 600px) {
  header h1 {
    max-width: 500px;
    margin: auto;
  }

  .cards-display {
    flex-wrap: wrap;
  }
}

@media (min-width: 912px) {
  .cards-display {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .cards-view {
    max-width: 1100px;
    margin: auto;
  }
}
